# Ignore Python virtual environments
venv/
env/

# Ignore environment config files
.env

# Ignore __pycache__ and compiled files
__pycache__/
*.pyc
*.pyo

# Ignore model files (optional)
*.pkl
*.joblib
*.h5
*.keras

# Ignore frontend build
frontend/node_modules/
frontend/build/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/
